.authform {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    div {
        color: #ffffff;
        font-weight: 600;
        font-size: 2rem;
    }

    input {
        padding: 0.3rem;
        font-size: 1.5rem;
        border: none;
        margin: 0.25rem;
    }

    button {
        background-color: #ecc132;
        padding: 0.8rem;
        margin: 0.25rem;
        border: none;
        font-size: 2rem;
        color: #000000;
        transition: 500ms all ease-in-out;
    }

    button:hover {
        background-color: #f07e40;
        transition: 500ms all ease-in-out;
        cursor: pointer;
    }
}