$black: #3A001E;
$white: #FFF6F0;

$dark: #0E397A;
$darktwo: #4A1231;
$light: #ECC132;
$verylight: #ffffff;

.everything {
    width: 100%;
    height: 100%;
    background-color: $verylight;
    display: flex;
    flex-direction: row;

    //navigation bar
    .navbar {
        background-color: #0E397A;
        min-width: 70px;
        max-width: 300px;
        padding: 1rem;
        height: 100vh;
        position: sticky;
        top: 0;
        color: $verylight;
        font-weight: 900;
        transition: 500ms all;

        .menuLabel {
            background-color: #0E397A;
            padding: 0.2rem;
            font-size: 1.2rem;
            margin-bottom: 0.25rem;
            width: fit-content;
            transition: 250ms ease-in-out;
        }

        .menuLabel:hover {
            background-color: $light;
            color: black;
            transition: 250ms ease-in-out;
            cursor: pointer;
        }

        //hamburger menu
        .burger {
            z-index: 5;
            padding: 0.2rem;
            margin: auto;
            transition: 500ms all;
            width: -moz-fit-content;
            width: fit-content;
            span {
                display: block;
                width: 2rem;
                height: 0.25rem;
                margin-bottom: 0.25rem;
                position: relative;
                transition: 300ms all;
                background: $white;
                border-radius: 3px;
                z-index: 1;
            }
        }
    
        .burger:hover {
            cursor: pointer;
            span {
                background: #888;
                transition: 300ms all;
            }
        }
    
        .cross:hover {
            cursor: pointer;
            span {
                background: #888;
                transition: 300ms all;
            }
        }
    
        .cross {
            z-index: 5;
            padding: 0.2rem;
            margin: auto;
            transform: translateY(0.5rem);
            transition: 500ms all;
            width: 20vw;
            min-width: 100px;
            max-width: 300px;
            span {
                display: block;
                width: 2rem;
                height: 0.25rem;
                margin-bottom: 0.25rem;
                position: relative;
                transition: 300ms all;
                background: $white;
                border-radius: 3px;
                z-index: 1;
            }
    
            span:nth-child(1) {
                transform: translateY(0.25rem) rotate(45deg);
            }
    
            span:nth-child(2) {
                display: none;
            }
            
            span:nth-child(3) {
                transform: translateY(-0.25rem) rotate(-45deg);
            }
        }
    }

}

.content {
    padding: 1rem;
    float: right;
    width: 100%;

    .heading {
        color: $dark;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 0.3rem;
    }
}

.card {
    padding: 0.3rem;
    width: 100%;
    margin-bottom: 1rem;
    border: 0.3rem solid $dark;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 300ms all ease-in-out;

    .emoji {
        font-size: 3rem;
        padding: 0.5rem;
    }

    .nl {
        width: 50%;
    }

    .name {
        font-size: 1.8rem;
        font-weight: 700;
        white-space: nowrap;
    }

    .location {
        font-size: 1.2rem;
        font-weight: 450;
        white-space: nowrap;
    }

    .dates {
        width: 50%;
        padding: 0.5rem;
        float: right;
        text-align: right;
    }
}

.card:hover {
    background-color: $dark;
    color: $white;
    transition: 300ms all ease-in-out;
    cursor: pointer;
}

.backArrow {
    z-index: 10000;
}

.backArrow:hover {
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.3rem;

    .label {
        font-size: 1.2rem;
        color: $dark;
        font-weight: 500;
    }

    .sublabel {
        font-size: 1rem;
        color: $dark;
        display: flex;

        input::-webkit-file-upload-button {
            background-color: $dark;
            color: $white;
            padding: 0.5rem;
            border-radius: 2rem;
            border: none;
            white-space: nowrap;
        }

        input::-webkit-file-upload-button:hover {
            cursor: pointer;
        }

        button:hover {
            cursor: pointer;
            background-color: $light;
            transition: 350ms all ease-in-out;
        }

        input[type=text] {
            background-color: $verylight;
            padding: 0.5rem;
            border-radius: 2rem;
            border: 1px solid $dark;
        }

        input[type=number] {
            background-color: $verylight;
            padding: 0.5rem;
            border-radius: 2rem;
            border: 1px solid $dark;
        }

        button {
            background-color: #f0d5c4;
            color: $black;
            transition: 350ms all ease-in-out;
            margin: 0.2rem;
            padding: 0.5rem;
            border-radius: 2rem;
            border: none;
            white-space: nowrap;
            height: fit-content;
        }
    }
}

@media (max-width: 700px) {
    .navbar {
        display: none;
    }

    .sublabel {
        flex-direction: column;

        button {
            width: fit-content;
        }
    }
}